* {
    margin: 0;
    padding: 0;
    font-family: 'helvetica';
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    color: white;
}

button {
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    font-size: 25px;
}