* {
    margin: 0;
    padding: 0;
    font-family: 'helvetica';
    box-sizing: border-box;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
  background-color: #111;
}

.parent{
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  background-color: #222;
  border-radius: 20px;
  border: 2px solid white;
  padding: 20px;
  margin: 15px;
  text-align: center;
  gap: 10px;
}

.card img {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
  object-fit: cover;
}
.card button {
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

.card p {
  margin: 15px 0px;
}