* {
    margin: 0;
    padding: 0;
    font-family: 'helvetica';
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
    padding: 10px 30px;
    margin: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}