* {
    margin: 0;
    padding: 0;
    font-family: 'helvetica';
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

button {
    background-color: rgb(91, 184, 241);
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 20px;

}

h1{
    font-size: 50px;
    background-color: rgb(220, 220, 220);
    padding: 20px 20px;
    margin: 10px;
    border-radius: 20px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(66, 121, 247);
}